<div>
  <table>
    <!-- Zona de encabezado de la tala -->
    <thead>
      <tr>
        <th *ngFor="let colum of columns" >
          {{colum}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato  of data">
        <td>
          {{dato.TIPO}}
        </td>
        <td>
          {{dato.Costo}}
        </td>
        <td>
          {{dato.Periodo}}
        </td>
        <td>
          {{dato.Temporada}}
        </td>
        <td>
          {{dato.Semana}}
        </td>
        <td>
          {{dato.Concepto}}
        </td>
        <td>
          {{dato.Cve_Lote}}
        </td>
        <td>
          {{dato.Lote}}
        </td>
        <td>
          {{dato.Cve_Valvula}}
        </td>
        <td>
          {{dato.Valvula}}
        </td>
        <td>
          {{dato.Cve_Cultivo}}
        </td>
        <td>
          {{dato.Cultivo}}
        </td>
        <td>
          {{dato.Cve_Familia}}
        </td>
        <td>
          {{dato.Familia}}
        </td>
        <td>
          {{dato.Cve_SubFamilia}}
        </td>
        <td>
          {{dato.Sub_Familia}}
        </td>
        <td>
          {{dato.Costo_Directo}}
        </td>
        <td>
          {{dato.Costo_Prorrateado}}
        </td>
        <td>
          {{dato.total}}
        </td>
      </tr>
    </tbody>
  </table>
</div>