<div>
  <router-outlet></router-outlet>
  <table>
    <!-- Zona de encabezado de la tala -->
    <thead>
      <tr>
        <th>LOTE</th>
        <th>COSTO DIRECTO CONTABILIDAD</th>
        <th>INSUMOS</th>
        <th>MANO DE OBRA</th>
        <th>ORDENES DE SERVICIO</th>
        <th>TOTAL GENERAL</th>
      </tr>
    </thead> 
    <tbody *ngFor="let lotes of data">
      <tr href="#demo" data-toggle="collapse"
        ngbTooltip="Nivel 1" style="cursor: pointer;background-color: #E4F0E0; background: mediumturquoise;"
        (click)="data1.status===false? data1.status=true:data1.status=false">

        <td>{{lotes.nombre}}</td>
        <td>{{lotes.total1}}</td>
        <td>{{lotes.total2}}</td>
        <td>{{lotes.total3}}</td>
        <td>{{lotes.total4}}</td>
        <td>{{lotes.totalFinal}}</td>
      </tr>
      <tr ngbTooltip="Nivel 2">
        <td colspan="6" style="height: 0;padding: 0" class="hiddenRow">
            <div id="demo" class="collapse">
                <table class="table">
                    <tbody style="cursor: pointer;width: 100%" *ngFor="let valvulas of lotes.valvulas">
                        <tr href='#demo1' style="background-color: #ECF5E9; background: yellow;"  data-toggle="collapse" (click)="data2.status===false? data2.status=true:data2.status=false">
                          <td>{{valvulas.nombre}}</td>
                          <td>{{valvulas.total1}}</td>
                          <td>{{valvulas.total2}}</td>
                          <td>{{valvulas.total3}}</td>
                          <td>{{valvulas.total4}}</td>
                          <td>{{valvulas.totalFinal}}</td>
                        </tr>
                        <tr>
                          <td colspan="6" style="height: 0;padding: 0" class="hiddenRow">
                              <div id="demo1" class="accordian-body collapse">
                                  <table class="table">
                                      <tbody *ngFor="let familia of valvulas.familia" ngbTooltip="Nivel 3">
                                          <tr href='#demo2' style="background-color: #F4F9F2; background: green;" data-toggle="collapse" (click)="data3.status===false? data3.status=true:data3.status=false">
                                            <td>{{familia.nombre}}</td>
                                            <td>{{familia.total1}}</td>
                                            <td>{{familia.total2}}</td>
                                            <td>{{familia.total3}}</td>
                                            <td>{{familia.total4}}</td>
                                            <td>{{familia.totalFinal}}</td>
                                          </tr>
                                          <tr>
                                            <td colspan="6" style="height: 0;padding: 0" class="hiddenRow">
                                                <div id="demo2" class="accordian-body collapse">
                                                    <table class="table">
                                                        <tbody *ngFor="let subfamilia of familia.subfamilia" ngbTooltip="Nivel 4">
                                                            <tr style="background-color:#FFFFFF; background: brown;">
                                                              <td>{{subfamilia.nombre}}</td>
                                                              <td>{{subfamilia.total1}}</td>
                                                              <td>{{subfamilia.total2}}</td>
                                                              <td>{{subfamilia.total3}}</td>
                                                              <td>{{subfamilia.total4}}</td>
                                                              <td>{{subfamilia.totalFinal}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>

    </tbody>
  </table>
</div>